@model IEnumerable<Bitik.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post" action="@Url.Action("Search", "Admin")">
    <input type="text" id="searchInput" name="query" placeholder="Ürün ara..." />
    <button type="submit">Ara</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="productTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td class="product-name">@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <img src="/Urunler/@item.ImageUrl" width="25px" height="25px" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                <td>
         
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Search.js"></script>
